/* layout.css */
/* texto del login primera ventana */
.lock-screen {
  position: fixed;
  inset: 0;
  min-height: 100vh;
  display: flex;
  align-items: flex-end; /* 👈 clave */
  justify-content: center;
  padding-bottom: 20vh;       /* 👈 ajusta aquí */
 
}

